/* All credits to Felix Rioux Sabourin */
/* Fang Xi Lin modified - 2024 */
@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
	/* COLOR */
	--color-dark: #271f10;
	--color-neutral: #fff2e6;
	--color-primary: #507473;
	--color-secondary: #2a5359;
	--color-error: #cc0000;
	--color-theme: var(--color-primary);

	/* FONT FAMILY */
	--font-family-title: 'Lemon', serif;
	--font-family-body: 'Rubik', sans-serif;

	/* SPACING */
	--spacing-xsm: 0.25rem;
	--spacing-sm: 0.5rem;
	--spacing-sm-2: 0.75rem;
	--spacing-md: 1rem;
	--spacing-lg: 1.25rem;
	--spacing-xl: 2.5rem;

	/* BORDER */
	--border-size: 2px;
	--border-radius: var(--spacing-sm);
	--border-radius-inner: var(--spacing-xsm);
	--border-radius-btn: var(--spacing-xsm);
	--border-input: var(--border-size) solid;

	/* FONT-SIZE */
	--font-size-sm: 0.75rem;
	--font-size-md: 1rem;
	--font-size-md-2: 1.5rem;
	--font-size-lg: 2rem;
	--font-size-lg-2: 2.5rem;
	--font-size-xl: 3rem;

	/* WIDTH */
	--width-section: 75%;
	--width-half: calc(var(--width-section) / 2);

	/* EFFECTS */
	--transition: all 200ms ease-in-out;
	--translate-y: translateY(-2px);
	--box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35);
}

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: var(--font-family-body);
	margin: var(--spacing-xl);
}

img {
	margin-bottom: var(--spacing-lg);
}

p,
a,
button,
div,
h1,
h2,
h3,
h4,
h5,
ul,
li {
	margin: 0;
	color: var(--color-dark);
}

a {
	color: var(--color-secondary);
	-webkit-text-decoration-color: var(--color-secondary);
	text-decoration-color: var(--color-secondary);
	text-decoration: underline;
	text-underline-offset: 3px;
	text-decoration-thickness: var(--border-size);
}

a:hover {
	text-decoration: none;
}

.confirmation input[type='button'][value='Back'] {
	background-color: var(--color-dark);
	color: var(--color-neutral);
	max-width: var(--width-half);
	width: 100%;
	content: 'Back | Retour';
	-webkit-transition: var(--transition);
	-o-transition: var(--transition);
	transition: var(--transition);
}

.confirmation input[type='button'][value='Back']:hover,
.confirmation input[type='submit']:hover,
.testing form input[type='submit']:hover {
	-webkit-transform: var(--translate-y);
	-ms-transform: var(--translate-y);
	transform: var(--translate-y);
	-webkit-box-shadow: var(--box-shadow);
	box-shadow: var(--box-shadow);
}

.confirmation input[type='submit'] {
	color: var(--color-dark);
	max-width: var(--width-half);
	width: 100%;
	-webkit-transition: var(--transition);
	-o-transition: var(--transition);
	transition: var(--transition);
}

form #sCostSummary div.sCostSummary:last-of-type .inputcell {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: stretch;
	-ms-flex-pack: stretch;
	justify-content: stretch;
}

p,
a,
button,
li,
input,
label,
option,
select {
	font-family: var(--font-family-body);
}

ul {
	list-style: none;
	padding-left: var(--spacing-lg);
}

li:not(:last-child) {
	margin-bottom: var(--spacing-xsm);
}

li label {
	margin-left: var(--spacing-sm);
}

#wrapperDiv {
	padding: var(--spacing-xl);
}

#BodyTitle {
	font-family: var(--font-family-title);
	font-size: var(--font-size-lg-2);
	font-weight: bold;
	text-align: center;
}

#Introduction,
#BookingsClosedText {
	text-align: center;
	margin-bottom: var(--spacing-lg);
}

/* 
#Introduction img {
    animation: wiggle 5s linear infinite;
} */

#Introduction p,
#BookingsClosedText p {
	margin-bottom: var(--spacing-sm);
}

.sectionWrapper,
#viewbookingoptions,
#returntobookingbottom,
#BookingsClosedText,
#Introduction,
#BodyTitle {
	max-width: var(--width-section);
	margin: var(--spacing-lg) auto;
}

#returntobooking br {
	display: none;
}

#viewbookingoptions,
#returntobookingbottom {
	margin: var(--spacing-xl) auto;
}

#returntobookingbottom,
#returntobooking {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: var(--spacing-sm);
}

#bookagain,
.returntobooking {
	margin-bottom: var(--spacing-sm);
	text-align: center;
}

.sectionWrapper {
	width: 100%;
}

.sectionHeader {
	font-family: var(--font-family-title);
	font-weight: bold;
	text-align: center;
	font-size: var(--font-size-md-2);
	margin: var(--spacing-xl) 0 var(--spacing-lg) 0;
}

.fieldwrapper {
	margin-bottom: var(--spacing-lg);
}

.itemdescriptioncell {
	margin-bottom: var(--spacing-sm);
}

#bookingpage .itemdescriptioncell {
	font-weight: bold;
}

#bookingpage .fieldWrapper {
	margin-bottom: var(--spacing-lg);
}

.captioncell.informationInput p {
	margin-bottom: var(--spacing-sm);
	font-size: var(--font-size-md);
	line-height: 135%;
}

.captioncell.informationInput p:last-child {
	margin-bottom: var(--spacing-md);
}

/* INPUT STYLING */

textarea {
	width: 100%;
	max-width: 100%;
	height: 150px;
	min-height: 50px;
	max-height: 400px;
}

input[type='checkbox'],
input[type='radio'] {
	accent-color: var(--color-primary);
}

input[type='text'],
input[type='password'],
textarea {
	padding: var(--spacing-sm) var(--spacing-sm-2);
	border-radius: var(--border-radius);
	font-size: var(--font-size-md);
	border-style: solid;
	border-color: var(--color-dark);
}

input[type='checkbox']:focus-visible,
input[type='radio']:focus-visible {
	outline-color: var(--color-secondary);
	outline-offset: 2px;
}

input[type='text']:focus-visible,
input[type='password']:focus-visible,
input[type='submit']:focus-visible,
textarea:focus-visible,
select:focus-visible {
	outline-color: var(--color-secondary);
	outline-offset: 4px;
}

select {
	padding: var(--spacing-sm) var(--spacing-sm-2);
	border: var(--border-input) var(--color-dark);
	border-radius: var(--border-radius);
}

select[multiple='multiple'] {
	height: 150px;
	overflow: hidden;
}

select[multiple='multiple'] option {
	padding: var(--spacing-xsm);
}

select[multiple='multiple'] option:checked {
	background-color: var(--color-secondary);
	color: var(--color-neutral);
}

select[multiple='multiple'] option:active {
	background-color: var(--color-primary);
	color: var(--color-neutral);
}

select[multiple='multiple'] option:first-child {
	border-radius: var(--border-radius-inner) var(--border-radius-inner) 0 0;
}

select[multiple='multiple'] option:last-child {
	border-radius: 0 0 var(--border-radius-inner) var(--border-radius-inner);
}

input[type='text'],
.inputcell,
select {
	width: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* BUTTON STYLING */

input[type='button'],
input[type='submit'] {
	background: transparent;
	border: var(--border-input) var(--color-dark);
	padding: var(--spacing-sm) var(--spacing-sm-2);
	border-radius: var(--border-radius-btn);
	cursor: pointer;
	-webkit-transition: var(--transition);
	-o-transition: var(--transition);
	transition: var(--transition);
}

input[type='submit'] {
	color: var(--color-dark);
	width: 100%;
	-webkit-transition: var(--transition);
	-o-transition: var(--transition);
	transition: var(--transition);
}

input[type='button']:hover,
input[type='submit']:hover {
	background: var(--color-secondary);
	border-color: var(--color-secondary);
	color: var(--color-neutral);
	-webkit-transform: var(--translate-y);
	-ms-transform: var(--translate-y);
	transform: var(--translate-y);
	-webkit-box-shadow: var(--box-shadow);
	box-shadow: var(--box-shadow);
}

/* CUSTOM FIELDS STYLING */

.coupon-feedback {
	background-color: var(--color-secondary);
	border-radius: var(--border-radius);
	padding: var(--spacing-md);
	margin-bottom: var(--spacing-lg);
}

.coupon-feedback p {
	text-align: center;
	color: var(--color-neutral);
	margin-bottom: 0 !important;
}

.custom-terms {
	border-bottom: 1px dotted var(--color-dark);
	border-top: 1px dotted var(--color-dark);
	padding: 1rem;
	margin-bottom: 1rem;
}

.custom-terms__important {
	text-align: center;
}

.link-container {
	text-align: center;
	padding: 0.5rem 1rem;
	line-height: 150%;
}

#row_i123429_Confirmation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

#row_i123429_Confirmation .itemdescriptioncell {
	margin-left: var(--spacing-sm);
}

#row_i123429_Confirmation p {
	margin-bottom: var(--spacing-sm);
	font-weight: normal;
	line-height: 135%;
}

#row_i123429_Confirmation .itemdescriptioncell {
	margin-bottom: 0;
}

#row_i123429_Confirmation .inputcell {
	width: 30px;
}

/* ERROR */

.itemdescriptioncell .errorText span p::before {
	content: '* ';
}

.errorText,
.errorText p {
	color: var(--color-error) !important;
}

.errorMessage {
	max-width: var(--width-section);
	margin: 0 auto;
	text-align: center;
	border: var(--border-input) var(--color-error);
	padding: var(--spacing-sm-2) 0;
	margin-bottom: var(--spacing-sm-2);
	border-radius: var(--border-radius);
}

.errorMessage .errorAlert::before {
	content: '\a';
	white-space: pre;
}

/* TEST REGISTRATION PAGE */

.testing form {
	max-width: var(--width-section);
	margin: 0 auto;
}

.testing .testinginfo {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.testing form input[type='submit'] {
	color: var(--color-dark);
	margin-top: var(--spacing-lg);
}

.testing form input[type='password'] {
	margin-top: var(--spacing-xsm);
}

/* KEYFRAMES */

@-webkit-keyframes bounce {
	25% {
		-webkit-transform: rotate(90deg) translate(0.25rem);
		transform: rotate(90deg) translate(0.25rem);
	}

	75% {
		-webkit-transform: rotate(90deg) translate(-0.25rem);
		transform: rotate(90deg) translate(-0.25rem);
	}
}

@keyframes bounce {
	25% {
		-webkit-transform: rotate(90deg) translate(0.25rem);
		transform: rotate(90deg) translate(0.25rem);
	}

	75% {
		-webkit-transform: rotate(90deg) translate(-0.25rem);
		transform: rotate(90deg) translate(-0.25rem);
	}
}

@-webkit-keyframes wiggle {
	0%,
	7% {
		-webkit-transform: rotateZ(0);
		transform: rotateZ(0);
	}

	15% {
		-webkit-transform: rotateZ(-15deg);
		transform: rotateZ(-15deg);
	}

	20% {
		-webkit-transform: rotateZ(10deg);
		transform: rotateZ(10deg);
	}

	25% {
		-webkit-transform: rotateZ(-10deg);
		transform: rotateZ(-10deg);
	}

	30% {
		-webkit-transform: rotateZ(6deg);
		transform: rotateZ(6deg);
	}

	35% {
		-webkit-transform: rotateZ(-4deg);
		transform: rotateZ(-4deg);
	}

	40%,
	100% {
		-webkit-transform: rotateZ(0);
		transform: rotateZ(0);
	}
}

@keyframes wiggle {
	0%,
	7% {
		-webkit-transform: rotateZ(0);
		transform: rotateZ(0);
	}

	15% {
		-webkit-transform: rotateZ(-15deg);
		transform: rotateZ(-15deg);
	}

	20% {
		-webkit-transform: rotateZ(10deg);
		transform: rotateZ(10deg);
	}

	25% {
		-webkit-transform: rotateZ(-10deg);
		transform: rotateZ(-10deg);
	}

	30% {
		-webkit-transform: rotateZ(6deg);
		transform: rotateZ(6deg);
	}

	35% {
		-webkit-transform: rotateZ(-4deg);
		transform: rotateZ(-4deg);
	}

	40%,
	100% {
		-webkit-transform: rotateZ(0);
		transform: rotateZ(0);
	}
}

/* ACCORDION COMPONENT */

.customdetails {
	margin-bottom: var(--spacing-lg);
}

.customdetails ul {
	margin-left: var(--spacing-sm);
	list-style: disc;
	margin-bottom: var(--spacing-sm);
}

.tab input {
	position: absolute;
	opacity: 0;
	z-index: -1;
}

.tab__content {
	max-height: 0;
	overflow: hidden;
	-webkit-transition: all 0.35s;
	-o-transition: all 0.35s;
	transition: all 0.35s;
	padding: 0;
}

.tab__content-subtitle {
	text-align: center;
}

.tab__content-no-bullet {
	list-style: none;
	margin: 0.5rem 0 0.5rem -1rem;
	font-style: italic;
}

.accordion .tab .tab__content p.tab__content-paragraph {
	margin: var(--spacing-sm);
	text-align: left;
}

.tab input:checked ~ .tab__content {
	max-height: -webkit-fit-content;
	max-height: -moz-fit-content;
	max-height: fit-content;
	padding: var(--spacing-md);
}

.accordion {
	color: var(--color-theme);
	border: var(--border-input);
	border-radius: var(--border-radius);
	overflow: hidden;
}

.tab__label,
.tab__close {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	color: var(--color-neutral);
	background: var(--color-theme);
	cursor: pointer;
}

.tab__label {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: var(--spacing-md);
}

.tab__label::after {
	content: '\276F';
	width: 1em;
	height: 1em;
	text-align: center;
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transition: all 0.35s;
	-o-transition: all 0.35s;
	transition: all 0.35s;
}

.tab input:checked + .tab__label::after {
	-webkit-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg);
}

.tab__close {
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	padding: var(--spacing-sm) var(--spacing-md);
	font-size: var(--font-size-sm);
}

.accordion--radio {
	--color-theme: var(--color-primary);
}

.tab input:not(:checked) + .tab__label:hover::after {
	-webkit-animation: bounce 0.5s infinite;
	animation: bounce 0.5s infinite;
}

.tab__content-item-list {
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
}

/* RESPONSIVE */

@media screen and (max-width: 600px) {
	.sectionWrapper,
	.testing form {
		width: 100%;
		margin: 0;
	}

	#viewbookingoptions,
	#returntobookingbottom {
		margin: var(--spacing-xl) 0;
	}

	.returntobooking {
		line-break: anywhere;
	}
}

@media screen and (max-width: 450px) {
	#bookingpage {
		padding: 0;
	}

	#wrapperDiv {
		padding: 0;
	}

	body {
		padding: var(--spacing-md);
	}

	#BodyTitle {
		font-size: var(--font-size-lg);
	}

	.sectionHeader {
		font-size: var(--font-size-lg);
	}

	.customdetails {
		border-left: none;
		border-right: none;
		padding: var(--spacing-sm) 0;
		border-radius: 0;
	}

	.errorMessage {
		border-left: none;
		border-right: none;
		border-radius: 0;
	}

	.tab__content-item-list {
		columns: 1;
		-webkit-columns: 1;
		-moz-columns: 1;
	}
}
